body{background-color: #000000;}
h1{color: darkred;
    text-align:center;}
body{color: green;
     font-family: 'source code pro', monospace;}
.exit{text-align: center;}
a{color: darkred;}
button{color: black;}
